<%= content_for(:headline) { "Developer" } %>

<div class="column grid_7">
  <article>
    <%= render :partial => 'shared/index' %>
  </article>
</div>

<div class="column grid_1">&nbsp;</div>

<div class="column grid_4">

  <div class="widget_box" id="account_box">
    <% if current_account.nil? %>
    <div id="login">
      <h4>Login</h4>
      <section>
        <p>
           <%= link_to 'Signup for an API Key', new_account_registration_path %>
           or Login:
        </p>
        <p>
          <%= form_tag new_account_session_path do %>
          <%=  text_field_tag 'account[email]' %>
          <%=  password_field_tag 'account[password]' %>
        </p>
        <div id="signin_errors"><%= flash[:alert] %></div>
        <p>
          <%=  submit_tag "Login" %>
          <% end %>
        </p>
      </section>
    </div>
    <% else %>
    <div>
      <h4>API Key</h4>
      <section>
       <p>
          Welcome <strong><%= current_account.email %></strong>,
       </p>
       <dl>
          <dt>API Key</dt><dd><%= current_account.api_key %></dd>
          <dt>Shared Secret</dt><dd><%= current_account.shared_secret %></dd>
       </dl>
       <p>
           <%= link_to 'Logout', destroy_account_session_path %>
       </p>
      </section>
    </div>
    <% end %>
  </div>
</div>

<%= render :partial => 'static/footer' %>
