<%= content_for(:headline) { "Developer" } %>

<% if flash[:notice] %>
  <div class="column grid_12">
    <p id="flash_notice"><%= flash[:notice] %></p>
  </div>
<% end %>

<div class="column grid_7">
  <article>
    <%= render :partial => 'shared/index' %>
  </article>
</div>

<div class="column grid_1">&nbsp;</div>

<div class="column grid_4">

  <div class="widget_box" id="account_box">
    <% if current_account.nil? %>
    <div id="login">
      <h4>Login</h4>
      <section>
        <p>
           <%= link_to 'Signup for an API Key', new_account_registration_path %>
           or Login:
        </p>
        <p>
          <%= form_tag new_account_session_path do %>
            <p>
              <%= label_tag :email %><br / >
              <%= text_field_tag 'account[email]' %>
            </p>
            <p>
              <%= label_tag :password %><br />
              <%= password_field_tag 'account[password]' %>
            </p>
            <div id="signin_errors"><%= flash[:alert] %></div>
          <p>
          <%= submit_tag "Login" %>
          <% end %>
        </p>

        <p>
          <%= link_to "Forgot your password?", new_password_path(:account) %><br />
          <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(:account) %>
        </p>
      </section>
    </div>
    <% else %>
    <div>
      <h4>API Key</h4>
      <section>
       <p>
          Welcome <strong><%= current_account.email %></strong>,
       </p>
       <p>
          You can now start integrating Linccer magic in your Application.
          We suggest to read the
          <a href="https://developer.hoccer.com/about_api.html">General API Documentation</a>
          and build upon one of our plattform libraries at
          <a href="https://github.com/organizations/hoccer">GitHub</a>.
       </p>
       <p>
          Manage your <%= link_to "Account", account_path %>
          <%= link_to 'Logout', destroy_account_session_path %>
       </p>
      </section>
    </div>
    <% end %>
  </div>
</div>
