	  <%= render :partial => 'static/header' %>
      <div class="page">
        <div class="row">
          <div class="column grid_12 page_header page_header_small">
            <h1>Developer</h1>
          </div>
        </div>

        <div class="row" id="articles">
          <div class="column grid_7">
            <article>
              <%= render :partial => 'shared/index' %>
            </article>
          </div>
          <div class="column grid_1">&nbsp;</div>
          <div class="column grid_4">
            <div class="widget_box">
              <h4>Login</h4>
              <section>
              	<p>
					<%= form_tag new_account_session_path do %>
					<%=  text_field_tag 'account[email]' %>
					<%=  password_field_tag 'account[password]' %>
					<%=  submit_tag "Login" %>
					<% end %>
				</p>
              </section>
            </div>
          </div>
        </div>

	  <%= render :partial => 'static/footer' %>
